section {
  background-color: #fff;
  z-index: 1;
  position: relative;
}

body {

  margin-left: -20px;
}

h1 {
  margin-bottom: 0.25em;
}

.mission-heading h1 {
  margin-bottom: 0.75em;
}

h6 {
  margin-bottom: 3em;
}

.section-main {
padding: 10vh;
}

.navbar {
  left: 0px;
  width: 100%;
  z-index: 3;
}

#nav-left {
    text-align: center;
}

#nav-mid {
    text-align: center;
}

#nav-right {
    text-align: center;
}

@media only screen and (max-width: 1080px) {
    #nav-right a:nth-child(-n+3) {
        display: none;
    }
}

#header {
  background: url("../img/mountains.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 15vh 0 15vh 10vh;
  z-index: 2;
}

#header-box {
  background-color: #f9f5f4;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 33px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 4px 4px 33px 0px rgba(0,0,0,0.5);
  box-shadow: 4px 4px 33px 0px rgba(0,0,0,0.5);
  text-align: center;
  top: 50%;
  padding: 40px;
}

#header-box img {
  width: 60%;
  height: auto;
}

#header h1 {
  font-size: 4rem;
}

@media only screen and (max-width: 1660px) {
    #header h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 400px) {
    #header h1 {
        font-size: 2rem;
    }
}

.history {
  margin-top: 50vh;
}

.header-form {
  font-size: 12px;
}

.header-signup {
   margin-top: 3.5em;
}

.header-input {
  margin-right: -4px;
  border-radius: 5px 0 0 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #F2E7CE;
  border-image: none;
  background-color: #F2E7CE;
}

.header-box {
  margin-right: -4px;
  border-radius: 0 5px 5px 0;
  border-width: 2px;
  border-style: solid;
  border-color: #F1D9A3;
  border-image: none;
  background-color: #F1D9A3;
}

.example-image {
    position: relative;
    top: 50px;
    right: 20px;
    z-index: 0;
    opacity: 0.3;
}

.example-image-header {
  z-index: 2;
}

footer {
  background-color: #222222;
  bottom: 0;
  left: 0;
  padding: 50px;
  z-index: 0;
}

footer p {
  font-size: 0.75em;
  margin: 0;
}

.social-icon {
  height: 1.5em;
  fill: #071715;
}

.social-icon:hover {
  fill: #363d3c;
}

footer .social-icon {
  height: 1em;
  fill: #cbd0d9;
}
