section {
  background-color: rgb(71, 77, 91);
  z-index: 1;
  position: relative;
}

body {

  margin-left: -20px;
}

.sparkles {
  background-image: url("https://raw.githubusercontent.com/VolcaTech/eth2-assets/master/images/sparkles.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
}

h1 {
  margin-bottom: 0.25em;
}

h1, h2, h3, h4, h5, h6, p {
    color: rgb(76, 217, 100);
}

.mission-heading h1 {
  margin-bottom: 0.75em;
}

h6 {
  margin-bottom: 3em;
}

.section-main {
padding: 10vh;
}

@media only screen and (max-width: 800px) {
  .section-main {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 4vh;
  }
}

.navbar {
  left: 0px;
  width: 100%;
  z-index: 3;
}

#nav-left {
    text-align: center;
}

#nav-mid {
    text-align: center;
}

#nav-right {
    text-align: center;
}

@media only screen and (max-width: 1080px) {
    #nav-right a:nth-child(-n+3) {
        display: none;
    }
}

#header {
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;

  display: block;
  background: url("../img/lamas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15vh 0 15vh 10vh;
  z-index: 0;

  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

#header-box {
  background-color: #fcfaf9;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px 0px rgba(249, 245, 244,0.75);
  -moz-box-shadow: 0 0 30px 0px rgba(249, 245, 244,0.75);
  box-shadow: 0 0 30px 0px rgba(249, 245, 244,0.75);
  text-align: center;
  top: 50%;
  margin-top: 10%;
  padding-top: 4rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
  position: relative;
  z-index: 1;
}

#headertext {
  z-index: 1;
}

h1 span {
    font-size: 1.8em;
}
/*
.flowbackground {
  background-color: #636977;
  border-radius: 5px;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 10px;
}

.flowbackground h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.flowbackground p:nth-last-child(1) {
  padding-bottom: 10px;
}
*/
a:visited {
    color: inherit;
}

a.active, a:active, a:focus, a:hover {
    color: #fff;
}

.headerbutton:hover {
    background: #eff3f9 !important;
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: .05rem solid #3b4351;
    border-radius: .2rem;
    color: #3b4351;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 3rem;
    line-height: 1.2rem;
    outline: 0;
    padding: 0.8rem .4rem;
    text-align: center;
    text-decoration: none;
    transition: background .2s,border .2s,box-shadow .2s,color .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: normal;
}

.btn:focus, .btn:hover {
    border-color: #3b4351;
    text-decoration: none;
    box-shadow: 4px 4px 50px rgba(188, 170, 162, 0.5);
}

.btn.btn-link {
    background: 0 0;
    border-color: transparent;
    color: #3b4351;

.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    color: #3b4351;
}

@media only screen and (max-width: 1660px) {
    #header h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 400px) {
    #header h1 {
        font-size: 2rem;
    }
}

.history {
  margin-top: 50vh;
}

.header-form {
  font-size: 12px;
}

.header-signup {
   margin-top: 3.5em;
}

.header-input {
  margin-right: -4px;
  border-radius: 5px 0 0 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #F2E7CE;
  border-image: none;
  background-color: #F2E7CE;
}

.example-image {
    position: relative;
    top: 50px;
    right: 20px;
    z-index: 0;
    opacity: 0.3;
}

.example-image-header {
  z-index: 2;
}

footer {
  background-color: #222222;
  bottom: 0;
  left: 0;
  padding: 50px;
  z-index: 0;
}

footer p {
  font-size: 0.75em;
  margin: 0;
}

.social-icon {
  height: 1.5em;
  fill: #071715;
}

.social-icon:hover {
  fill: #363d3c;
}

footer .social-icon {
  height: 1em;
  fill: #cbd0d9;
}
